@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.barra_lateral{
    position:  fixed;
    padding: 1.5%;
    background-color: black;
    width: 9.5%;
    height: 100vh;
}

#img_logo{
    width: 70%;
    margin-bottom: 2.5vh;
}

#ul_barra_lateral{
    text-decoration: none;
    list-style: none;
}

.barra_lateral ul{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
}

.barra_lateral ul li{
    margin: 5%;
}

.barra_lateral ul li a{
    
    font-size: 13px;
    align-items: center;
    color: white;
    text-decoration: none;
}

#home_icon{
    align-items: center;
    width: 15%;
    margin-right: 10px;
}

#search_icon{
    width: 15%;
    margin-right: 10px;
}

#search_barra_lateral{
    opacity: 50%;
}

#search_barra_lateral:hover{
    opacity: 100%;
}

#books_icon{
    width: 15%;
    margin-right: 10px;
}

#books_barra_lateral{
    opacity: 50%;
}

#books_barra_lateral:hover{
    opacity: 100%;
}