@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.barra_lateral{
    position:  fixed;
    background-color: black;
    padding: 1.3%;
    width: 10%;
    height: 100vh;
}

.barra_lateral ul{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
}

.barra_lateral ul li{
    display: flex;
    align-items: center;
    margin-bottom: 9%;
}


#img_logo{
    width: 68%;
    margin-bottom: 15%;
}


#ul_barra_lateral{
    text-decoration: none;
    list-style: none;
}

.barra_lateral ul li a{
    
    font-size: 13px;
    align-items: center;
    color: white;
    text-decoration: none;
}

#home_icon{
    align-items: center;
    width: 13%;
    margin-right: 8%;
}

#search_icon{
    width: 13%;
    margin-right: 8%;
}

#search_barra_lateral{
    opacity: 50%;
}

#search_barra_lateral:hover{
    opacity: 100%;
}

#books_icon{
    width: 13%;
    margin-right: 8%;
}

#books_barra_lateral{
    opacity: 50%;
}

#books_barra_lateral:hover{
    opacity: 100%;
}


#ul_barra_lateral_part2{
    display: flex;
    text-decoration: none;
    list-style: none;
}

#create_barra_lateral{
    opacity: 50%;
}

#create_barra_lateral:hover{
    opacity: 100%;
}

#create_icon{
    width: 13%;
    margin-right: 8%;
}

#heart_icon{
    width: 13%;
    margin-right: 8%;
}

#heart_barra_lateral{
    opacity: 50%;
}

#heart_barra_lateral:hover{
    opacity: 100%;
}


.part1{
    margin-bottom: 10%;
}